.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F3F7FA;
    font-family: 'Inter', sans-serif;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #e1f2ff;    
}
.header-logo h1{
  margin-left: 20px;
}
.header-contact {
    font-size: 0.7em;
    
}
.header-contact a {
    text-decoration: none;
    color: blue;    
}
.header-contact a:hover {
    color: blueviolet;    
}

.header-contact li {
    list-style-type: none;
}
.header-logo{
    margin-top: 20px;
    max-width: 600px;
    display: flex ;
    justify-items: space-between;
    align-items: center;
}
.header-image {
    display: block;
    width: 100px;
    border-radius: 20px;   
    background-color: brown;
}
.navigation ol{
    display: flex;    
    margin: auto;
    padding-bottom: 3px;
    justify-content: center;
}
.navigation a {
    text-decoration: none;
    color: rgb(65, 65, 65);
}
.navigation a:hover{
    color: blueviolet;  
}
.navigation li {
    list-style-type: none;
    font-weight: 600; 
    
}
.navigation li+li {
    margin-left: 20px;
}
.main-content {
    border-top: #e1f2ff solid 2px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
    padding: 10px 10px;

}
.main-content__select {
    font-style: italic;
    color: grey;
}
.main-skills {
    line-height: 1.5em;
    
}
.main-skills__inline-block {
    display: inline-block;
    border: rgb(151, 151, 151) solid 1px;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
    margin-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
}
.footer-content {
    background-color: #e1f2ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-github {
    width: 50px;
    height: 50px;
    background-image: url('https://nikfreeman.github.io/rsschool-cv/assest/footer-icon-github1.svg');
    background-repeat: no-repeat;
    
}
.footer-rsschool {
    width: 100px;
    height: 50px;
    background-image: url('https://nikfreeman.github.io/rsschool-cv/assest/footer-icon-rsschool.svg');
    background-repeat: no-repeat;
}
